@page "/Parks/{ParkName}"
@using MudBlazor
@using SQL_API
@using SQL_API.Models
@using SQL_API.Data
@inject IMenuData _dbMenu;

<h3></h3>
<MudText Typo="Typo.h1" Align="Align.Center">@(Menu != null ? Menu.ParkName: "Park not found")</MudText>
<MudText Typo="Typo.subtitle1">@(Menu != null ? Menu.ParkDescription : "Park not found - desc")</MudText>
<MudDivider></MudDivider>
<MudSelect T="string" Label="Coffee" AnchorOrigin="Origin.BottomCenter">
    <MudSelectItem Value="@("Cappuccino")" />
    <MudSelectItem Value="@("Cafe Latte")" />
    <MudSelectItem Value="@("Espresso")" />
</MudSelect> 
@if (MenuList != null && MenuList.Any() && testing)
{
    foreach (MenuModel food in MenuList)
    {
        <MudList Clickable="true">
        @if (!food.AreaName.Equals(CurrentArea) || PrintCount == 0)
        {
            <MudText Typo="Typo.h3">@(food != null ? food.AreaName : "Park not found - Area")</MudText>

        }
        @if (!food.LocationName.Equals(CurrentLocation) || PrintCount == 0)
        {
            <MudText Typo="Typo.h4">@(food != null ? food.LocationName : "Park not found - Loc")</MudText>
        }
        <MudListItem Text = food.FoodName />
        @PrintCount++;
        @CurrentLocation = food.LocationName;
        @CurrentArea = food.AreaName;
        </MudList>


    }
}
@code {
    List<MenuModel> MenuList = new List<MenuModel>();
    MenuModel Menu = null;
    Boolean testing = true;
    String CurrentArea;
    String CurrentLocation;
    int PrintCount;
    [Parameter] public string ParkName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        MenuList = await _dbMenu.GetParkMenuData(ParkName);

        if (MenuList != null && MenuList.Count > 0)
        {
            Menu = MenuList.First();
            CurrentArea = Menu.AreaName;
            CurrentLocation = Menu.LocationName;
            PrintCount = 0;
        }
    }
}
